[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
devserver = "uvicorn --reload trivial.app:app"

[packages]
starlette = "*"
python-socketio = "*"
websockets = "*"
names = "*"

[dev-packages]
uvicorn = "*"
aiohttp = "*"

[requires]
python_version = "3.9"
