[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
python-socketio = "*"
websockets = "*"

[dev-packages]
uvicorn = "*"
aiohttp = "*"

[requires]
python_version = "3.9"
