<ng-container>
    <div *ngIf="gameID | async as id" class="id">
        {{id}}
    </div>
    <ng-container *ngIf="question$ | async as question; else notStarted">
        <p>Question:{{question.question.text | decode}}</p>
        <button (click)="advanceQuestion()">Advance</button>
        <div class="questions">
            <div *ngFor="let choice of question.question.choices" class="question">
                <h4 class="answer">{{choice.text}}</h4>
                <div *ngFor="let player of answers[choice.id]" class="player">
                    {{player.user.name}}
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #notStarted>
        <button (click)="advanceQuestion()" class="start">Start Game</button>
        <ul class="players">
            <li *ngFor="let player of people | keyvalue">
                {{player.value.user.name}}
            </li>
        </ul>
    </ng-template>
</ng-container>