<div *ngIf="!status" class="container buttons">
    <div>
        <button (click)="joinGame()" mat-raised-button color="primary">
            Join Game
        </button>
        <br>
        <br>
        <button (click)="startGame()" mat-raised-button color="primary">
            Start Game
        </button>
    </div>

</div>

<div *ngIf="status === statuses.Client" class="container">
    <app-client></app-client>
</div>
<div *ngIf="status === statuses.Host" class="container">
    <app-host></app-host>
</div>